<html lang="en">
<head>
    <title>Add | Tames</title>
    <meta name="viewport" content="initial-scale=1" />

    <!-- Angular JS Material -->
    <link href="Content/angular-material.css" rel="stylesheet" />

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

    <!-- Material Design Datatable -->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/paghdalyogesh/responsive-md-data-table/master/css/md-data-table.css">

    <!-- jQuery Datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.material.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">

    <!-- Custom CSS -->
    <link href="Style.css" rel="stylesheet" />

    <style>
        body[dir=rtl] .hint {
            right: 2px;
            left: auto;
        }
    </style>

</head>
<body ng-app="App" ng-controller="appCtrl" ng-cloak layout="row">

    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        <md-toolbar class="md-tall md-hue-2">
            <span flex></span>
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <user-avatar></user-avatar>
                <span></span>
                <div>John Doe</div>
                <div>johndoe@mail.com</div>
            </div>
        </md-toolbar>
        <md-list flex="">
            <md-list-item class="side-nav-item" ng-repeat="item in menu" ng-click="null">
                <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}">-->

                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                <div class="md-list-item-text" layout="column">

                    <p class="pad-l-30px">{{ item.title }}</p>
                </div>
            </md-list-item>

            <md-divider></md-divider>
            <md-subheader>Management</md-subheader>
            <md-list-item class="side-nav-item" ng-repeat="item in admin" ng-click="null">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                <div class="md-list-item-text" layout="column">
                    <p class="pad-l-30px">{{ item.title }}</p>
                </div>
            </md-list-item>


        </md-list>
    </md-sidenav>

    <div layout="column" class="relative" layout-fill role="main">
        <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
            <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
        <md-toolbar ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <h3>
                    Dashboard
                </h3>
                <span flex></span>
                <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                    <ng-md-icon icon="search"></ng-md-icon>
                </md-button>
                <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
            </div>
            <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
                <md-tab id="tab1" aria-controls="tab1-content">
                    Latest
                </md-tab>
                <md-tab id="tab2" aria-controls="tab2-content">
                    Favorites
                </md-tab>
            </md-tabs>
        </md-toolbar>
        <md-toolbar class="md-hue-1" ng-show="showSearch">
            <div class="md-toolbar-tools">
                <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                    <ng-md-icon icon="arrow_back"></ng-md-icon>
                </md-button>
                <h3 flex="10">
                    Back
                </h3>
                <md-input-container md-theme="input" flex>
                    <label>&nbsp;</label>
                    <input ng-model="search.who" placeholder="enter search">
                </md-input-container>
                <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                    <ng-md-icon icon="search"></ng-md-icon>
                </md-button>
                <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
            </div>

        </md-toolbar>
        <md-content flex md-scroll-y>
            <ui-view layout="column" layout-fill layout-padding>
                <div class="inset" hide-sm></div>
                <ng-switch on="data.selectedIndex" class="tabpanel-container">
                    <div role="tabpanel"
                         id="tab1-content"
                         aria-labelledby="tab1"
                         ng-switch-when="0"
                         md-swipe-left="next()"
                         md-swipe-right="previous()"
                         layout="column" layout-align="center center">

                        <!-- Main info -->
                        <md-card class="width-90">
                            <md-card-content>

                                <!-- Data Table search -->
                                <div class="SearchFilterForm">

                                    <form name="userForm">

                                        <!-- Voucher Number & Branch -->
                                        <div layout-gt-sm="row">

                                            <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                                                <label>Voucher Number</label>
                                                <md-icon icon="dashboard" class="name"></md-icon>
                                                <input name="email" ng-model="user.voucherNumber" minlength="10" maxlength="100" type="text" disabled="" placeholder="XYZ-123112FD">
                                            </md-input-container>

                                            <div flex="10" hide-xs="" hide-sm="">
                                                <!-- Spacer //-->
                                            </div>

                                            <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                                                <label>Branch</label>
                                                <md-icon icon="dashboard" class="name"></md-icon>
                                                <md-select ng-model="user.state1">
                                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                        {{state.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>


                                        </div>

                                        <!-- USP ID & Invoice Ref -->
                                        <div layout-gt-sm="row">

                                            <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                                                <label>USP ID</label>
                                                <md-icon icon="dashboard" class="name"></md-icon>
                                                <md-select ng-model="user.state1">
                                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                        {{state.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>

                                            <div flex="10" hide-xs="" hide-sm="">
                                                <!-- Spacer //-->
                                            </div>

                                            <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                                                <label>Invoide Reference</label>
                                                <md-icon icon="dashboard" class="name"></md-icon>
                                                <input name="phone" ng-model="user.InvoiceRef">

                                                <div class="hint" ng-show="showHints">Eg : (234) 444 2122</div>

                                                <div ng-messages="userForm.phone.$error" ng-hide="showHints">
                                                    <div ng-message="pattern">(2242) 7786-1234 - Please enter a valid Invoice Reference number.</div>
                                                </div>
                                            </md-input-container>

                                            <style>
                                                /*
                                                * The Material demos system does not currently allow targeting the body element, so this
                                                * must go here in the HTML.
                                                */
                                                body[dir=rtl] .hint {
                                                    right: 2px;
                                                    left: auto;
                                                }
                                            </style>
                                        </div>

                                        <!-- Email And Voucher Row -->
                                        <div layout-gt-sm="row">

                                            <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                                                <label>Email</label>
                                                <md-icon icon="dashboard" class="name"></md-icon>
                                                <input name="email" ng-model="user.email" required="" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">

                                                <div class="hint" ng-show="showHints">How can we reach you?</div>

                                                <div ng-messages="userForm.email.$error" ng-hide="showHints">
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                            <div flex="10" hide-xs="" hide-sm="">
                                                <!-- Spacer //-->
                                            </div>

                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>Voucher Number</label>
                                                <input name="phone" ng-model="user.Voucher">

                                                <div class="hint" ng-show="showHints">Eg : (234) 444 2122</div>

                                                <div ng-messages="userForm.phone.$error" ng-hide="showHints">
                                                    <div ng-message="pattern">(###) ###-#### - Please enter a valid Voucher number.</div>
                                                </div>
                                            </md-input-container>

                                            <style>
                                                /*
                                                * The Material demos system does not currently allow targeting the body element, so this
                                                * must go here in the HTML.
                                                */
                                                body[dir=rtl] .hint {
                                                    right: 2px;
                                                    left: auto;
                                                }
                                            </style>
                                        </div>                                       

                                    </form>

                                </div>

                            </md-card-content>
                        </md-card>

                        <!-- To KSA -->
                        <md-card class="width-90">
                            <md-card-content>

                                <!-- Data Table search -->
                                <div class="SearchFilterForm">

                                    <form name="userForm">

                                        <!-- Voucher Date Time row -->
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>Voucher created FROM</label>
                                                <md-datepicker ng-model="user.submissionDate"></md-datepicker>
                                            </md-input-container>

                                            <div flex="10" hide-xs="" hide-sm="">
                                                <!-- Spacer //-->
                                            </div>

                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>Voucher created TO</label>
                                                <md-datepicker ng-model="user.submissionDateTo"></md-datepicker>
                                            </md-input-container>


                                        </div>

                                        <!-- Flight DateTime Row -->
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>Flight data FROM</label>
                                                <md-datepicker ng-model="user.FlightDateFrom"></md-datepicker>
                                            </md-input-container>

                                            <div flex="10" hide-xs="" hide-sm="">
                                                <!-- Spacer //-->
                                            </div>

                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>Flight Data TO</label>
                                                <md-datepicker ng-model="user.FlightDateTo"></md-datepicker>
                                            </md-input-container>


                                        </div>

                                        <!-- Drop Down Row -->
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>Branch</label>
                                                <md-select ng-model="user.state1">
                                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                        {{state.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>

                                            <div flex="10" hide-xs="" hide-sm="">
                                                <!-- Spacer //-->
                                            </div>

                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>USP</label>
                                                <md-select ng-model="user.state2">
                                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                        {{state.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>


                                        </div>

                                    </form>

                                </div>

                            </md-card-content>
                        </md-card>

                        <!-- Button -->
                        <div layout-gt-sm="row" class="width-90">

                            <md-button class="md-raised md-primary CustomSearchFilterBtn">Search</md-button>

                        </div>

                    </div>
                    <div role="tabpanel"
                         id="tab2-content"
                         aria-labelledby="tab2"
                         ng-switch-when="1"
                         md-swipe-left="next()"
                         md-swipe-right="previous()"
                         layout="row" layout-align="center center">
                        <md-card flex-gt-sm="90" flex-gt-md="80">
                            <md-card-content>
                            </md-card-content>
                        </md-card>
                    </div>

                </ng-switch>

            </ui-view>
        </md-content>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="Scripts/angular.js"></script>

    <!-- Angular JS Animate -->
    <script src="Scripts/angular-animate.js"></script>

    <!-- Angular JS Aria -->
    <script src="Scripts/angular-aria.js"></script>

    <!-- Angular Material -->
    <script src="Scripts/angular-material.js"></script>

    <!-- Material Design Data Table -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/md-data-table/2.2.0/md-data-table.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/md-data-table/2.2.0/md-data-table.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.js"></script>-->
    <!-- Material Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>

    <!-- Initialize Angular JS Module -->
    <script src="Scripts/Modules/App.js"></script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <!-- jQuery Data Table -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        className: 'mdl-data-table__cell--non-numeric'
                    }
                ]
            });
        });
    </script>

</body>
</html>