<html lang="en">
<head>
    <title>Search | Tames</title>
    <meta name="viewport" content="initial-scale=1" />

    <!-- Angular JS Material -->
    <link href="Content/angular-material.css" rel="stylesheet" />

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

    <!-- Material Design Datatable -->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/paghdalyogesh/responsive-md-data-table/master/css/md-data-table.css">

    <!-- jQuery Datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.material.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">

    <!-- Custom CSS -->
    <link href="Style.css" rel="stylesheet" />


</head>
<body ng-app="App" ng-controller="appCtrl" ng-cloak layout="row">

    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        <md-toolbar class="md-tall md-hue-2">
            <span flex></span>
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <user-avatar></user-avatar>
                <span></span>
                <div>John Doe</div>
                <div>johndoe@mail.com</div>
            </div>
        </md-toolbar>
        <md-list flex="">
            <!--<md-item ng-repeat="item in menu">
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        </div>
                        <div class="inset">
                            {{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>-->

            <md-list-item class="side-nav-item" ng-repeat="item in menu" ng-click="null">
                <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}">-->

                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                <div class="md-list-item-text" layout="column">

                    <p class="pad-l-30px">{{ item.title }}</p>
                </div>
            </md-list-item>

            <md-divider></md-divider>
            <md-subheader>Management</md-subheader>
            <!--<md-item ng-repeat="item in admin">
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        </div>
                        <div class="inset">
                            {{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>-->

            <md-list-item class="side-nav-item" ng-repeat="item in admin" ng-click="null">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                <div class="md-list-item-text" layout="column">
                    <p class="pad-l-30px">{{ item.title }}</p>
                </div>
            </md-list-item>


        </md-list>
    </md-sidenav>

    <div layout="column" class="relative" layout-fill role="main">
        <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
            <ng-md-icon icon="add"></ng-md-icon>
        </md-button>
        <md-toolbar ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                    <ng-md-icon icon="menu"></ng-md-icon>
                </md-button>
                <h3>
                    Dashboard
                </h3>
                <span flex></span>
                <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                    <ng-md-icon icon="search"></ng-md-icon>
                </md-button>
                <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
            </div>
            <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
                <md-tab id="tab1" aria-controls="tab1-content">
                    Latest
                </md-tab>
                <md-tab id="tab2" aria-controls="tab2-content">
                    Favorites
                </md-tab>
            </md-tabs>
        </md-toolbar>
        <md-toolbar class="md-hue-1" ng-show="showSearch">
            <div class="md-toolbar-tools">
                <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                    <ng-md-icon icon="arrow_back"></ng-md-icon>
                </md-button>
                <h3 flex="10">
                    Back
                </h3>
                <md-input-container md-theme="input" flex>
                    <label>&nbsp;</label>
                    <input ng-model="search.who" placeholder="enter search">
                </md-input-container>
                <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                    <ng-md-icon icon="search"></ng-md-icon>
                </md-button>
                <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
            </div>

        </md-toolbar>
        <md-content flex md-scroll-y>
            <ui-view layout="column" layout-fill layout-padding>
                <div class="inset" hide-sm></div>
                <ng-switch on="data.selectedIndex" class="tabpanel-container">
                    <div role="tabpanel"
                         id="tab1-content"
                         aria-labelledby="tab1"
                         ng-switch-when="0"
                         md-swipe-left="next()"
                         md-swipe-right="previous()"
                         layout="row" layout-align="center center">
                        <md-card flex-gt-sm="90" flex-gt-md="80">
                            <md-card-content>

                                <!-- Data Table search -->
                                <div class="SearchFilterForm">

                                    <form name="userForm">

                                        <!-- Email And Voucher Row -->
                                        <div layout-gt-sm="row">

                                            <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                                                <label>Email</label>
                                                <md-icon icon="dashboard" class="name"></md-icon>
                                                <input name="email" ng-model="user.email" required="" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">

                                                <div class="hint" ng-show="showHints">How can we reach you?</div>

                                                <div ng-messages="userForm.email.$error" ng-hide="showHints">
                                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                            <div flex="10" hide-xs="" hide-sm="">
                                                <!-- Spacer //-->
                                            </div>

                                            <md-input-container class="md-icon-float md-block" flex-gt-sm="">
                                                <label>Voucher Number</label>
                                                <md-icon icon="dashboard" class="name"></md-icon>
                                                <input name="phone" ng-model="user.Voucher">

                                                <div class="hint" ng-show="showHints">Eg : (234) 444 2122</div>

                                                <div ng-messages="userForm.phone.$error" ng-hide="showHints">
                                                    <div ng-message="pattern">(###) ###-#### - Please enter a valid Voucher number.</div>
                                                </div>
                                            </md-input-container>

                                            <style>
                                                /*
                                                * The Material demos system does not currently allow targeting the body element, so this
                                                * must go here in the HTML.
                                                */
                                                body[dir=rtl] .hint {
                                                    right: 2px;
                                                    left: auto;
                                                }
                                            </style>
                                        </div>


                                        <!-- Voucher Date Time row -->
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>Voucher created FROM</label>
                                                <md-datepicker ng-model="user.submissionDate"></md-datepicker>
                                            </md-input-container>

                                            <div flex="10" hide-xs="" hide-sm="">
                                                <!-- Spacer //-->
                                            </div>

                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>Voucher created TO</label>
                                                <md-datepicker ng-model="user.submissionDateTo"></md-datepicker>
                                            </md-input-container>


                                        </div>

                                        <!-- Flight DateTime Row -->
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>Flight data FROM</label>
                                                <md-datepicker ng-model="user.FlightDateFrom"></md-datepicker>
                                            </md-input-container>

                                            <div flex="10" hide-xs="" hide-sm="">
                                                <!-- Spacer //-->
                                            </div>

                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>Flight Data TO</label>
                                                <md-datepicker ng-model="user.FlightDateTo"></md-datepicker>
                                            </md-input-container>


                                        </div>

                                        <!-- Drop Down Row -->
                                        <div layout-gt-sm="row">
                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>Branch</label>
                                                <md-select ng-model="user.state1">
                                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                        {{state.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>

                                            <div flex="10" hide-xs="" hide-sm="">
                                                <!-- Spacer //-->
                                            </div>

                                            <md-input-container class="md-block" flex-gt-sm="">
                                                <label>USP</label>
                                                <md-select ng-model="user.state2">
                                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                        {{state.abbrev}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>


                                        </div>

                                        <!-- Button -->
                                        <div layout-gt-sm="row">

                                            <md-button class="md-raised md-primary CustomSearchFilterBtn">Search</md-button>

                                        </div>
                                    </form>

                                </div>
                                <md-divider></md-divider>

                                <!-- End Data Table search -->
                                <h4>Results</h4>
                                <!-- DataTable Start -->
                                <table id="example" class="mdl-data-table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>$170,750</td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td>San Francisco</td>
                                            <td>66</td>
                                            <td>2009/01/12</td>
                                            <td>$86,000</td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Senior Javascript Developer</td>
                                            <td>Edinburgh</td>
                                            <td>22</td>
                                            <td>2012/03/29</td>
                                            <td>$433,060</td>
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>33</td>
                                            <td>2008/11/28</td>
                                            <td>$162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Brielle Williamson</td>
                                            <td>Integration Specialist</td>
                                            <td>New York</td>
                                            <td>61</td>
                                            <td>2012/12/02</td>
                                            <td>$372,000</td>
                                        </tr>
                                        <tr>
                                            <td>Herrod Chandler</td>
                                            <td>Sales Assistant</td>
                                            <td>San Francisco</td>
                                            <td>59</td>
                                            <td>2012/08/06</td>
                                            <td>$137,500</td>
                                        </tr>
                                        <tr>
                                            <td>Rhona Davidson</td>
                                            <td>Integration Specialist</td>
                                            <td>Tokyo</td>
                                            <td>55</td>
                                            <td>2010/10/14</td>
                                            <td>$327,900</td>
                                        </tr>
                                        <tr>
                                            <td>Colleen Hurst</td>
                                            <td>Javascript Developer</td>
                                            <td>San Francisco</td>
                                            <td>39</td>
                                            <td>2009/09/15</td>
                                            <td>$205,500</td>
                                        </tr>
                                        <tr>
                                            <td>Sonya Frost</td>
                                            <td>Software Engineer</td>
                                            <td>Edinburgh</td>
                                            <td>23</td>
                                            <td>2008/12/13</td>
                                            <td>$103,600</td>
                                        </tr>
                                        <tr>
                                            <td>Jena Gaines</td>
                                            <td>Office Manager</td>
                                            <td>London</td>
                                            <td>30</td>
                                            <td>2008/12/19</td>
                                            <td>$90,560</td>
                                        </tr>
                                        <tr>
                                            <td>Quinn Flynn</td>
                                            <td>Support Lead</td>
                                            <td>Edinburgh</td>
                                            <td>22</td>
                                            <td>2013/03/03</td>
                                            <td>$342,000</td>
                                        </tr>
                                        <tr>
                                            <td>Charde Marshall</td>
                                            <td>Regional Director</td>
                                            <td>San Francisco</td>
                                            <td>36</td>
                                            <td>2008/10/16</td>
                                            <td>$470,600</td>
                                        </tr>
                                        <tr>
                                            <td>Haley Kennedy</td>
                                            <td>Senior Marketing Designer</td>
                                            <td>London</td>
                                            <td>43</td>
                                            <td>2012/12/18</td>
                                            <td>$313,500</td>
                                        </tr>
                                        <tr>
                                            <td>Tatyana Fitzpatrick</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>19</td>
                                            <td>2010/03/17</td>
                                            <td>$385,750</td>
                                        </tr>
                                        <tr>
                                            <td>Michael Silva</td>
                                            <td>Marketing Designer</td>
                                            <td>London</td>
                                            <td>66</td>
                                            <td>2012/11/27</td>
                                            <td>$198,500</td>
                                        </tr>
                                        <tr>
                                            <td>Paul Byrd</td>
                                            <td>Chief Financial Officer (CFO)</td>
                                            <td>New York</td>
                                            <td>64</td>
                                            <td>2010/06/09</td>
                                            <td>$725,000</td>
                                        </tr>
                                        <tr>
                                            <td>Gloria Little</td>
                                            <td>Systems Administrator</td>
                                            <td>New York</td>
                                            <td>59</td>
                                            <td>2009/04/10</td>
                                            <td>$237,500</td>
                                        </tr>
                                        <tr>
                                            <td>Bradley Greer</td>
                                            <td>Software Engineer</td>
                                            <td>London</td>
                                            <td>41</td>
                                            <td>2012/10/13</td>
                                            <td>$132,000</td>
                                        </tr>
                                        <tr>
                                            <td>Dai Rios</td>
                                            <td>Personnel Lead</td>
                                            <td>Edinburgh</td>
                                            <td>35</td>
                                            <td>2012/09/26</td>
                                            <td>$217,500</td>
                                        </tr>
                                        <tr>
                                            <td>Jenette Caldwell</td>
                                            <td>Development Lead</td>
                                            <td>New York</td>
                                            <td>30</td>
                                            <td>2011/09/03</td>
                                            <td>$345,000</td>
                                        </tr>
                                        <tr>
                                            <td>Yuri Berry</td>
                                            <td>Chief Marketing Officer (CMO)</td>
                                            <td>New York</td>
                                            <td>40</td>
                                            <td>2009/06/25</td>
                                            <td>$675,000</td>
                                        </tr>
                                        <tr>
                                            <td>Caesar Vance</td>
                                            <td>Pre-Sales Support</td>
                                            <td>New York</td>
                                            <td>21</td>
                                            <td>2011/12/12</td>
                                            <td>$106,450</td>
                                        </tr>
                                        <tr>
                                            <td>Doris Wilder</td>
                                            <td>Sales Assistant</td>
                                            <td>Sidney</td>
                                            <td>23</td>
                                            <td>2010/09/20</td>
                                            <td>$85,600</td>
                                        </tr>
                                        <tr>
                                            <td>Angelica Ramos</td>
                                            <td>Chief Executive Officer (CEO)</td>
                                            <td>London</td>
                                            <td>47</td>
                                            <td>2009/10/09</td>
                                            <td>$1,200,000</td>
                                        </tr>
                                        <tr>
                                            <td>Gavin Joyce</td>
                                            <td>Developer</td>
                                            <td>Edinburgh</td>
                                            <td>42</td>
                                            <td>2010/12/22</td>
                                            <td>$92,575</td>
                                        </tr>
                                        <tr>
                                            <td>Jennifer Chang</td>
                                            <td>Regional Director</td>
                                            <td>Singapore</td>
                                            <td>28</td>
                                            <td>2010/11/14</td>
                                            <td>$357,650</td>
                                        </tr>
                                        <tr>
                                            <td>Brenden Wagner</td>
                                            <td>Software Engineer</td>
                                            <td>San Francisco</td>
                                            <td>28</td>
                                            <td>2011/06/07</td>
                                            <td>$206,850</td>
                                        </tr>
                                        <tr>
                                            <td>Fiona Green</td>
                                            <td>Chief Operating Officer (COO)</td>
                                            <td>San Francisco</td>
                                            <td>48</td>
                                            <td>2010/03/11</td>
                                            <td>$850,000</td>
                                        </tr>
                                        <tr>
                                            <td>Shou Itou</td>
                                            <td>Regional Marketing</td>
                                            <td>Tokyo</td>
                                            <td>20</td>
                                            <td>2011/08/14</td>
                                            <td>$163,000</td>
                                        </tr>
                                        <tr>
                                            <td>Michelle House</td>
                                            <td>Integration Specialist</td>
                                            <td>Sidney</td>
                                            <td>37</td>
                                            <td>2011/06/02</td>
                                            <td>$95,400</td>
                                        </tr>
                                        <tr>
                                            <td>Suki Burks</td>
                                            <td>Developer</td>
                                            <td>London</td>
                                            <td>53</td>
                                            <td>2009/10/22</td>
                                            <td>$114,500</td>
                                        </tr>
                                        <tr>
                                            <td>Prescott Bartlett</td>
                                            <td>Technical Author</td>
                                            <td>London</td>
                                            <td>27</td>
                                            <td>2011/05/07</td>
                                            <td>$145,000</td>
                                        </tr>
                                        <tr>
                                            <td>Gavin Cortez</td>
                                            <td>Team Leader</td>
                                            <td>San Francisco</td>
                                            <td>22</td>
                                            <td>2008/10/26</td>
                                            <td>$235,500</td>
                                        </tr>
                                        <tr>
                                            <td>Martena Mccray</td>
                                            <td>Post-Sales support</td>
                                            <td>Edinburgh</td>
                                            <td>46</td>
                                            <td>2011/03/09</td>
                                            <td>$324,050</td>
                                        </tr>
                                        <tr>
                                            <td>Unity Butler</td>
                                            <td>Marketing Designer</td>
                                            <td>San Francisco</td>
                                            <td>47</td>
                                            <td>2009/12/09</td>
                                            <td>$85,675</td>
                                        </tr>
                                        <tr>
                                            <td>Howard Hatfield</td>
                                            <td>Office Manager</td>
                                            <td>San Francisco</td>
                                            <td>51</td>
                                            <td>2008/12/16</td>
                                            <td>$164,500</td>
                                        </tr>
                                        <tr>
                                            <td>Hope Fuentes</td>
                                            <td>Secretary</td>
                                            <td>San Francisco</td>
                                            <td>41</td>
                                            <td>2010/02/12</td>
                                            <td>$109,850</td>
                                        </tr>
                                        <tr>
                                            <td>Vivian Harrell</td>
                                            <td>Financial Controller</td>
                                            <td>San Francisco</td>
                                            <td>62</td>
                                            <td>2009/02/14</td>
                                            <td>$452,500</td>
                                        </tr>
                                        <tr>
                                            <td>Timothy Mooney</td>
                                            <td>Office Manager</td>
                                            <td>London</td>
                                            <td>37</td>
                                            <td>2008/12/11</td>
                                            <td>$136,200</td>
                                        </tr>
                                        <tr>
                                            <td>Jackson Bradshaw</td>
                                            <td>Director</td>
                                            <td>New York</td>
                                            <td>65</td>
                                            <td>2008/09/26</td>
                                            <td>$645,750</td>
                                        </tr>
                                        <tr>
                                            <td>Olivia Liang</td>
                                            <td>Support Engineer</td>
                                            <td>Singapore</td>
                                            <td>64</td>
                                            <td>2011/02/03</td>
                                            <td>$234,500</td>
                                        </tr>
                                        <tr>
                                            <td>Bruno Nash</td>
                                            <td>Software Engineer</td>
                                            <td>London</td>
                                            <td>38</td>
                                            <td>2011/05/03</td>
                                            <td>$163,500</td>
                                        </tr>
                                        <tr>
                                            <td>Sakura Yamamoto</td>
                                            <td>Support Engineer</td>
                                            <td>Tokyo</td>
                                            <td>37</td>
                                            <td>2009/08/19</td>
                                            <td>$139,575</td>
                                        </tr>
                                        <tr>
                                            <td>Thor Walton</td>
                                            <td>Developer</td>
                                            <td>New York</td>
                                            <td>61</td>
                                            <td>2013/08/11</td>
                                            <td>$98,540</td>
                                        </tr>
                                        <tr>
                                            <td>Finn Camacho</td>
                                            <td>Support Engineer</td>
                                            <td>San Francisco</td>
                                            <td>47</td>
                                            <td>2009/07/07</td>
                                            <td>$87,500</td>
                                        </tr>
                                        <tr>
                                            <td>Serge Baldwin</td>
                                            <td>Data Coordinator</td>
                                            <td>Singapore</td>
                                            <td>64</td>
                                            <td>2012/04/09</td>
                                            <td>$138,575</td>
                                        </tr>
                                        <tr>
                                            <td>Zenaida Frank</td>
                                            <td>Software Engineer</td>
                                            <td>New York</td>
                                            <td>63</td>
                                            <td>2010/01/04</td>
                                            <td>$125,250</td>
                                        </tr>
                                        <tr>
                                            <td>Zorita Serrano</td>
                                            <td>Software Engineer</td>
                                            <td>San Francisco</td>
                                            <td>56</td>
                                            <td>2012/06/01</td>
                                            <td>$115,000</td>
                                        </tr>
                                        <tr>
                                            <td>Jennifer Acosta</td>
                                            <td>Junior Javascript Developer</td>
                                            <td>Edinburgh</td>
                                            <td>43</td>
                                            <td>2013/02/01</td>
                                            <td>$75,650</td>
                                        </tr>
                                        <tr>
                                            <td>Cara Stevens</td>
                                            <td>Sales Assistant</td>
                                            <td>New York</td>
                                            <td>46</td>
                                            <td>2011/12/06</td>
                                            <td>$145,600</td>
                                        </tr>
                                        <tr>
                                            <td>Hermione Butler</td>
                                            <td>Regional Director</td>
                                            <td>London</td>
                                            <td>47</td>
                                            <td>2011/03/21</td>
                                            <td>$356,250</td>
                                        </tr>
                                        <tr>
                                            <td>Lael Greer</td>
                                            <td>Systems Administrator</td>
                                            <td>London</td>
                                            <td>21</td>
                                            <td>2009/02/27</td>
                                            <td>$103,500</td>
                                        </tr>
                                        <tr>
                                            <td>Jonas Alexander</td>
                                            <td>Developer</td>
                                            <td>San Francisco</td>
                                            <td>30</td>
                                            <td>2010/07/14</td>
                                            <td>$86,500</td>
                                        </tr>
                                        <tr>
                                            <td>Shad Decker</td>
                                            <td>Regional Director</td>
                                            <td>Edinburgh</td>
                                            <td>51</td>
                                            <td>2008/11/13</td>
                                            <td>$183,000</td>
                                        </tr>
                                        <tr>
                                            <td>Michael Bruce</td>
                                            <td>Javascript Developer</td>
                                            <td>Singapore</td>
                                            <td>29</td>
                                            <td>2011/06/27</td>
                                            <td>$183,000</td>
                                        </tr>
                                        <tr>
                                            <td>Donna Snider</td>
                                            <td>Customer Support</td>
                                            <td>New York</td>
                                            <td>27</td>
                                            <td>2011/01/25</td>
                                            <td>$112,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- Data Table End -->

                            </md-card-content>
                        </md-card>


                    </div>
                    <div role="tabpanel"
                         id="tab2-content"
                         aria-labelledby="tab2"
                         ng-switch-when="1"
                         md-swipe-left="next()"
                         md-swipe-right="previous()"
                         layout="row" layout-align="center center">
                        <md-card flex-gt-sm="90" flex-gt-md="80">
                            <md-card-content>
                            </md-card-content>
                        </md-card>
                    </div>

                </ng-switch>

            </ui-view>
        </md-content>
    </div>

    <!-- Angular Material Dependencies -->
    <script src="Scripts/angular.js"></script>

    <!-- Angular JS Animate -->
    <script src="Scripts/angular-animate.js"></script>

    <!-- Angular JS Aria -->
    <script src="Scripts/angular-aria.js"></script>

    <!-- Angular Material -->
    <script src="Scripts/angular-material.js"></script>

    <!-- Material Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>

    <!-- Initialize Angular JS Module -->
    <script src="Scripts/Modules/App.js"></script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <!-- jQuery Data Table -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                columnDefs: [
                    {
                        targets: [0, 1, 2],
                        className: 'mdl-data-table__cell--non-numeric'
                    }
                ]
            });
        });
    </script>

</body>
</html>