.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
}

.border {
    border: 2px solid black;
}

.layout-practice img {
    width: 100%;
}
/*._md-nav-bar-list li{
    width:100%;
}*/
.loginHeading {
    padding-left: 40px;
}

.pad-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.mar-t-b-20 {
    margin: 20px 0px;
}


md-content.md-default-theme {
    background-color: #eee;
}

md-card {
    background-color: #fff;
}

    md-card h2:first-of-type {
        margin-top: 0;
    }

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}

    .md-toolbar-tools-bottom :last-child {
        opacity: 0.8;
    }

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

md-sidenav {
    fill: #737373;
}

    /*md-sidenav ng-md-icon {
        position: relative;
        top: 5px;
    }*/

.user-avatar {
    border-radius: 99%;
}


.side-nav-item {
}

.pad-l-30px {
    padding-left: 15px;
}
